*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cod{
    text-align: center;
    background-color: #F8EDE3;
    padding: 10px;
}

.i-addcard{
    position: relative;
}



.h-ul1{
    display: flex;
    justify-content: center;
    flex-grow: inherit;
    gap: 40px;
    margin-right: 110px;
}

.hero-section{
    height: 550px;
    /* border: 1px solid red; */
}

/* footer started  */

.main-footer{
    height: 400px;
    width: auto;
    background-color: #2F3645;
    padding: 20px;
    padding-top:50px;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

ul{
    list-style-type: none;
    color: rgba(255, 255, 255, 0.774);
}

.contect>ul>li:nth-child(1){
    font-size: 20px;
    padding-bottom:15px;
    color: white;
}

.quick-links>ul>li:nth-child(1){
    font-size: 20px;
    padding-bottom:15px;
    color: white;
}

.shopping>ul>li:nth-child(1){
    font-size: 20px;
    padding-bottom:15px;
    color: white;
}

.follow>ul>li:nth-child(1){
    font-size: 20px;
    padding-bottom:15px;
    color: white;
}

.cards-categrory{ width: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.14);
    margin: auto;
    text-align: center;
    position: relative;
    overflow: hidden; 
    cursor: pointer;}

.img-ca{width: 300px;
    height: 400px;  
    position: absolute;
    top: 0;left: 0; 
     z-index: -1; }

.category-div{ background-color: rgba(240, 248, 255, 0.712);
    margin-top:233px;}



/* section started  */
