@media screen and (max-width:1170px) {
    .header-text{
         font-size: 18px;
    }

    .header-logo>img{
        width: 70%;
    }

    .header-search>img{
        width: 70%;
    }
}

@media screen and (max-width:1024px) {
    .main-div{
            padding: 100px 0px;
    }

    .header-text{
        gap: 50px;
        margin-left: -90px;
    }

    .header-text{
        font-size: 17px;
   }

}

@media screen and (max-width:768px) {

.aside-button{
    display: block;
}

.header-text{
    display: none;
}

.header-search{
    display: none;
}

.Search-input>input{
    display: block;
    width: 100%;
    transform: translate(-50px , 0px);
}

.container{
justify-content: space-evenly;
}

}